@charset "UTF-8";
/** Surcharge le css indésirables par défaut des navigateurs **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** les varibles globals du css du site **/
/** mixin reutilisable **/
/** css global du site
* font
* balise
**/
@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: "Shrikhand";
  src: url("../webfonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype"); }
body {
  font-family: 'Roboto'; }

h1 {
  font-family: "Shrikhand";
  font-size: 2em; }

p, li {
  font-weight: normal; }

.fas {
  margin: 0 10px; }

a, button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

li {
  line-height: 2em; }

hr {
  width: 40px;
  margin-left: 0;
  border: 2px solid #99E2D0;
  margin-bottom: 15px;
  margin-right: auto;
  margin-top: 9px; }

.box {
  padding: 50px 20px; }

:focus {
  outline: none;
  border: 1px solid #9356DC; }

/** css des headers de la page d'accueil et des pages restaurants **/
.head, .homeHead {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

.head {
  -o-box-shadow:  0px 1px 14px 0px rgba(0, 0, 0, 0.171);
  box-shadow:  0px 1px 14px 0px rgba(0, 0, 0, 0.171);
  padding: 23px 0 20px;
  z-index: 1;
  height: 64px;
  position: relative; }
  .head__branding {
    height: 30px;
    display: flex;
    justify-content: center; }
  .head__img {
    height: 30px; }

.homeHead__local {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 16px;
  line-height: 27px; }
.homeHead__content {
  background: #f6f6f6;
  padding: 43px 10px 58px;
  display: flex;
  flex-direction: column;
  align-items: center; }
.homeHead__title {
  text-align: center;
  font-family: "Roboto";
  font-size: 24px; }
.homeHead__text {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 21px; }
.homeHead__btn {
  font-size: 16px; }

/** css du footer **/
.footer {
  background: #353535;
  color: #fff;
  padding: 27px 26px 28px;
  font-size: 15px; }
  .footer__branding img {
    -webkit-filter: brightness(100);
    filter: brightness(100);
    max-height: 20px;
    margin-bottom: 14px;
    width: 100px; }
  .footer .fas {
    margin-left: 0;
    margin-right: 10px;
    width: 13px;
    height: 15px;
    font-size: 15px; }
  .footer__elt {
    line-height: 27px; }

/** css pour les pages restaurants **/
.page .head__branding_btn {
  position: absolute;
  background: none;
  border: none;
  padding: 6px 10px; }

.restau__ouvBox {
  height: 258px;
  overflow: hidden; }
.restau__ouv {
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover; }
.restau__title {
  font-size: 28px; }
.restau__headContent {
  width: 100%;
  box-sizing: border-box;
  background: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 32px 20px 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -37px;
  position: relative;
  z-index: 1; }
.restau__headBtn {
  font-size: 1.5em;
  margin-right: 18px;
  padding: 0 3px; }

.menu__content {
  box-sizing: border-box;
  background: #eaeaea;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; }
.menu__subTitle {
  text-transform: uppercase;
  width: 100%;
  color: #585757;
  font-weight: normal;
  margin-top: 29px;
  font-size: 16px; }
.menu_command {
  margin: 30px auto 48px;
  padding: 18px 50px;
  min-width: 175px;
  font-size: 16px; }

/** css du loader **/
.wait {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  opacity: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: start-loader;
  animation-name: start-loader;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes start-loader {
  0% {
    opacity: 1; }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    transform: scale(0);
    opacity: 0; } }
@keyframes start-loader {
  0% {
    opacity: 1; }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    transform: scale(0);
    opacity: 0; } }
.loader {
  width: 200px;
  height: 200px;
  position: fixed;
  padding: 2%;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 100%; }
  .loader .loader-inner {
    width: 100%;
    height: 100%;
    -webkit-animation: loader-spin .5s linear infinite;
    animation: loader-spin .5s linear infinite;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 3px solid transparent;
    border-right-color: #9356DC;
    border-left-color: #FF79DA;
    border-radius: 50%;
    content: ''; }
  .loader:before {
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .loader:before {
    background-image: url(../images/logo/ohmyfood@2x.svg);
    height: 100%;
    width: 80%;
    margin: auto; }

@-webkit-keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
/** css pour les cartes des menus **/
.cardMenu {
  background: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: elt-memu;
  animation-name: elt-memu;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  z-index: 1; }
  .cardMenu::after {
    -o-box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.35);
    box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.35);
    content: '';
    opacity: .5;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease; }
  .cardMenu:hover::after {
    opacity: 1; }
  .cardMenu.card-0 {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms; }
  .cardMenu.card-1 {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms; }
  .cardMenu.card-2 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  .cardMenu.card-3 {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms; }
  .cardMenu.card-4 {
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms; }
  .cardMenu__elt {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 13px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px; }
  .cardMenu__content {
    width: calc(100% - 50px + 10px * 2);
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: flex-end;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease; }
  .cardMenu__title {
    width: 100%;
    min-height: 20px;
    margin-top: 0;
    font-size: 19px;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .cardMenu__description {
    color: #585757;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .cardMenu__prix {
    width: 50px;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
  .cardMenu__btn {
    border: none;
    background: #99E2D0;
    width: 80px;
    margin: -16px -90px -13px 0;
    position: relative;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease; }
  .cardMenu__icon {
    color: #fff;
    font-size: 3em;
    margin: 0; }
  .cardMenu:hover .cardMenu__content, .cardMenu:active .cardMenu__content {
    width: calc(100% - 80px - 10px * 2 - 50px); }
  .cardMenu:hover .cardMenu__btn, .cardMenu:active .cardMenu__btn {
    margin-right: -10px; }
  .cardMenu:hover .cardMenu__icon, .cardMenu:active .cardMenu__icon {
    animation: turn-picto .6s ease;
    -webkit-animation: turn-picto .6s ease; }

/** animation pour l'apparition des items des menus **/
@-webkit-keyframes elt-memu {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px); }
  100% {
    opacity: 1; } }
@keyframes elt-memu {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px); }
  100% {
    opacity: 1; } }
/** animation du picto sur les items des menus au survol **/
@-webkit-keyframes turn-picto {
  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
@keyframes turn-picto {
  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
/** css des bouttons likes **/
.love {
  border: none;
  background: none;
  position: relative;
  cursor: pointer; }
  .love__icon::before, .love__icon::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-text-fill-color: transparent; }
  .love__icon::before {
    opacity: 0;
    background: #9356DC;
    /*Oldbrowsers*/
    /*FF3.6-15*/
    /*Chrome10-25,Safari5.1-6*/
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    /*W3C,IE10+,FF16+,Chrome26+,Opera12+,Safari7+*/
    background-clip: text;
    -webkit-background-clip: text;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease; }
  .love__icon::after {
    opacity: 1;
    -webkit-text-stroke: 1px black;
    background: none;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
    content: "\f004";
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease; }
  .love__icon:hover::before {
    opacity: 1; }
  .love__icon:hover::after {
    opacity: 0; }

/** Css des bouttons **/
.btn {
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: relative;
  z-index: 1; }
  .btn::after {
    -o-box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.65);
    box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.65);
    content: '';
    opacity: .5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease; }
  .btn:hover::after {
    opacity: 1; }
  .btn::before {
    content: '';
    opacity: 1;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease; }
  .btn:hover::before {
    opacity: 0.7; }
  .btn::before {
    background: #9356DC;
    /*Oldbrowsers*/
    /*FF3.6-15*/
    /*Chrome10-25,Safari5.1-6*/
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    /*W3C,IE10+,FF16+,Chrome26+,Opera12+,Safari7+*/ }

/** css de la partie info de la page d'accueil **/
.info {
  padding-bottom: 45px; }
  .info__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .info__title {
    margin-bottom: 30px;
    font-size: 24px; }
  .info__icon {
    margin: 0 22px 0 25px;
    opacity: .6;
    color: #7e7e7e;
    font-size: 20px; }
  .info__elt {
    height: 74px;
    width: calc(100% - 15px);
    background: #f6f6f6;
    display: flex;
    font-size: 16px;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
    padding: 28px 20px 26px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px; }
    .info__elt::after {
      -o-box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.65);
      box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.65);
      content: '';
      opacity: .5;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease; }
    .info__elt:hover::after {
      opacity: 1; }
    .info__elt::before {
      content: '';
      opacity: 1;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease; }
    .info__elt:hover::before {
      opacity: 0.7; }
    .info__elt:nth-of-type(3) {
      background: rgba(147, 86, 220, 0.1); }
      .info__elt:nth-of-type(3) .info__icon {
        color: #9356dc; }
  .info__nb {
    background: #9356DC;
    z-index: 1;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    padding: 6px 9px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-left: -34px; }
  .info__text {
    font-weight: bold; }

/** css de la liste des restaurant **/
.listRestau {
  padding-top: 59px;
  padding-bottom: 45px;
  background: #eaeaea; }
  .listRestau a {
    z-index: 2;
    position: relative; }
  .listRestau__title {
    font-size: 24px;
    margin-bottom: 24px; }
  .listRestau__card {
    background: #fff;
    border-radius: 15px;
    position: relative;
    z-index: 1; }
    .listRestau__card::after {
      -o-box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.65);
      box-shadow:  0px 8px 14px 0px rgba(0, 0, 0, 0.65);
      content: '';
      opacity: .5;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease; }
    .listRestau__card:hover::after {
      opacity: 1; }
  .listRestau__imgBox {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 174px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
    .listRestau__imgBox.center {
      align-items: center; }
      .listRestau__imgBox.center img {
        top: -27px;
        position: relative; }
  .listRestau__img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    opacity: 1; }
  .listRestau__card:hover .listRestau__img {
    opacity: .8; }
  .listRestau__elt__content {
    padding: 16px 26px 11px 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px; }
  .listRestau__name {
    margin-bottom: 8px;
    font-size: 18px; }
  .listRestau__btn {
    font-size: 25px; }
    .listRestau__btn.love {
      font-size: 22px;
      height: 25px;
      margin-bottom: 24px; }
  .listRestau__info {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 10px;
    right: 10px;
    z-index: 2;
    background: #99e2d0;
    color: #008766;
    border-radius: 3px;
    padding: 10px 13px; }
  .listRestau__local {
    font-size: 16px;
    font-weight: normal; }

/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-map-marker-alt:before {
  content: "\f3c5"; }

.fa-mobile-alt:before {
  content: "\f3cd"; }

.fa-list:before {
  content: "\f03a"; }

.fa-store:before {
  content: "\f54e"; }

.fa-heart:before {
  content: "\f004"; }

.fa-utensils:before {
  content: "\f2e7"; }

.fa-hands-helping:before {
  content: "\f4c4"; }

.fa-arrow-left:before {
  content: "\f060"; }

.fa-check-circle:before {
  content: "\f058"; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

/** theme du site en mode tablette **/
@media (min-width: 721px) {
  .info__title {
    text-align: center; }
  .info__content {
    max-width: 400px;
    margin: auto; }

  .listRestau__content {
    display: flex;
    flex-wrap: wrap; }
  .listRestau__elt {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px; }
  .listRestau__imgBox {
    display: block;
    width: 100%;
    overflow: hidden;
    height: calc(721px * 9 / 16 / 2); }

  .listRestau__title, .listRestau__content {
    max-width: 721px;
    margin-right: auto;
    margin-left: auto; }

  .restau__ouvBox {
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
  .restau__ouv {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }
  .restau__headContent {
    max-width: 721px; }

  .menu__content {
    max-width: 721px;
    margin: auto; }

  .footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .footer .footer__branding {
      width: 100%;
      text-align: center; }
    .footer ul {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
