@font-face {
    font-family: "Roboto";
    src:   url("/webfonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src:   url("/webfonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Shrikhand";
    src:   url("/webfonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
body{
    font-family: 'Roboto';
}
h1{
    font-family: "Shrikhand";
    font-size: 2em;
}
p,li{
    font-weight: normal;
}
.fas{
    margin: 0 10px;
}
a,button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color:inherit;

}
a,button{
    //empêcher -webkit-tap-highlight-color d'être plus grand lorsqu'il y a des border raisus
    overflow: hidden;
}

li{
    line-height: 2em;
}

hr{
    width: 40px;
    margin-left: 0;
    border: 2px solid $third;
    margin-bottom: 15px;
    margin-right: auto;
    margin-top: 9px;
}

.box{
    padding: $boxPadding;
}

:focus{
    outline: none;
    border: 1px solid $first;
}
