@mixin shadow($color:#000,$x:1,$y:1,$blur:5,$dist:0,$inset:null){
    -moz-box-shadow: $inset #{$x}px #{$y}px #{$blur}px #{$dist}px $color;
    -webkit-box-shadow: $inset #{$x}px #{$y}px #{$blur}px #{$dist}px $color;
    -o-box-shadow: $inset #{$x}px #{$y}px #{$blur}px #{$dist}px $color;
    box-shadow: $inset #{$x}px #{$y}px #{$blur}px #{$dist}px $color;
}
@mixin transition-timing($delay){
    animation-delay: $delay * 300ms;
}




@mixin btn-hover($radius:0,$bg:true){
    position: relative;
    z-index: 1;
    cursor: pointer;
    &::after{
        @include shadow();
        content: '';
        opacity: .5;
        border-radius: $radius;
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        -o-border-radius: $radius;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    &:hover::after {
        opacity: 1;
    }
    @if $bg{
        &::before{
            content: '';
            opacity: 1;
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: $radius;
            -webkit-border-radius: $radius;
            -moz-border-radius: $radius;
            -ms-border-radius: $radius;
            -o-border-radius: $radius;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
        }
        &:hover::before {
            opacity: .9;
        }
    }

}
