/** les varaibles globals du css du site **/
$first:#9356DC;
$firstLight: rgba(147, 86, 220, .1);
$second:#FF79DA;
$third:#99E2D0;
$bgLight:#f6f6f6;
$bgMiddle:#eaeaea;
$bgDark:#353535;
$textLight:#585757;
$boxPadding: 50px 20px;
$breakTab:721px;
$espaceElement : 30px;
