/** Css des bouttons **/
.btn{
    color:#fff;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    @include btn-hover(50px);
    &::before{
        background: $first;/*Oldbrowsers*//*FF3.6-15*//*Chrome10-25,Safari5.1-6*/
        background: linear-gradient(to top, $first 0%,$second 100%);/*W3C,IE10+,FF16+,Chrome26+,Opera12+,Safari7+*/
    }
}
