$nbElement : 10;
$cardPadding:10px;
$cardContentPadding:10px;
$widthPrice:50px;
$btnWidth:80px;
@mixin transition-price(){
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
}
@mixin border-rad-menu(){
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.cardMenu{
    background: #fff;
    cursor: pointer;
    width: 100%;
    border-radius: 14px;
    // box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 15px;
    -webkit-animation-timing-function:ease;
            animation-timing-function:ease;
    -webkit-animation-name: elt-memu;
            animation-name: elt-memu;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    @include border-rad-menu();
    @include btn-hover(15px);
    @for $i from 0 through $nbElement {
        &.card-#{$i} {
            @include transition-timing($i);
        }
    }

    &__elt{
        overflow: hidden;
        // height: 69px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding:15px 10px 13px;
        @include border-rad-menu();
    }

    &__content{
        width: calc(100% - #{$widthPrice} + #{$cardContentPadding} * 2);
        display: flex;
        font-size: 15px;
        // box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-end;
        // padding: 6px $cardContentPadding 3px 0;
        @include transition-price();
    }
    &__title{
        width: 100%;
        min-height: 20px;
        margin-top: 0;
        font-size: 19px;
        margin-bottom: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__description{
        color:$textLight;
        // height: 22px;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__prix{
        width: $widthPrice;
        box-sizing: border-box;
        padding: 0 10px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__btn{
        border: none;
        background: $third;
        width: $btnWidth;
        // padding: 20px 10px;
        margin: -16px -90px -13px 0;
        position: relative;
        @include transition-price();
    }
    &__icon{
        color: #fff;
        font-size: 3em;
        margin: 0;
    }

    &:hover &,&:active &{
        &__content{
            width: calc(100% - #{$btnWidth} - #{$cardContentPadding} * 2 - #{$widthPrice});
        }
        &__btn{
           margin-right: -$cardPadding;
        }
        &__icon{
            animation: turn-picto .6s ease;
            -webkit-animation: turn-picto .6s ease;
        }
    }

}


@-webkit-keyframes elt-memu{
    0% {
        opacity: 0;
        transform: translate(0, 20px);
        -webkit-transform: translate(0, 20px);
        -moz-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
}
    100% {
        opacity: 1;
    }
}


@keyframes elt-memu{
    0% {
        opacity: 0;
        transform: translate(0, 20px);
        -webkit-transform: translate(0, 20px);
        -moz-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
}
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes turn-picto{
    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
@keyframes turn-picto{
    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

