.head{
    display: flex;
    flex-direction: column;
    background: $bgLight;
    &__branding{
        z-index: 1;
        padding: 10px;
        display: flex;
        justify-content: center;
        @include shadow();
    }
    &__local{
        background: $bgMiddle;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    &__content{
        background: $bgLight;
    }
}
