.info{
    padding-bottom: 45px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__title{
        margin-bottom: $espaceElement;
        font-size: 24px;
    }
    &__icon{
        margin: 0 22px 0 25px;
        opacity: .6;
        color: #7e7e7e;
        font-size: 20px;
    }
    &__elt{
        height:74px;
        width:calc(100% - 15px);
        background: $bgLight;
        display: flex;
        font-size: 16px;
        align-items: center;
        font-weight: bold;
        box-sizing: border-box;
        margin-bottom: 25px;
        @include btn-hover(25px);
        padding: 28px 20px 26px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        &:nth-of-type(3) {
            background: $firstLight;
            .info__icon{
                color: #9356dc;
            }
        }
    }
    &__nb{
        background: $first;
        z-index: 1;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
        padding: 6px 9px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        margin-left: -34px;
    }
    &__text{
        font-weight: bold;
    }
}
