/** css de la liste des restaurant **/
$border-radius:15px;
.listRestau{
    padding-top: 59px;
    padding-bottom: 45px;
    background: $bgMiddle;
    a{
        z-index: 2;
        position: relative;
    }
    &__title{
        font-size: 24px;
        margin-bottom: 24px;
    }
    &__card{
        background: #fff;
        border-radius: $border-radius;
        @include btn-hover($border-radius,$bg:false);
    }
    &__imgBox{
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 174px;
        overflow: hidden;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        &.center{
            align-items: center;
            img{
                top: -27px;
                position: relative;
            }
        }
    }
    &__img{
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        opacity: 1;
    }
    &__card:hover &{
        &__img{
            opacity: .8;
        }
    }

    &__elt{
        &__content{
            padding: 16px 26px 11px 13px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 19px;
        }
    }
    &__name{
        margin-bottom: 8px;
        font-size: 18px;
    }
    &__btn{
        font-size: 25px;
        &.love{
            font-size: 22px;
            height: 25px;
            margin-bottom: 24px;
        }
    }
    &__info{
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        top: 10px;
        right: 10px;
        z-index: 2;
        background: #99e2d0;
        color: #008766;
        border-radius: 3px;
        padding: 10px 13px;
    }
    &__local{
        font-size: 16px;
        font-weight: normal;
    }

}
