.wait{
    position: fixed;
    z-index: 0;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 1;
    animation-timing-function:ease;
    animation-name: start-loader;
    animation-duration: 1500ms;
    animation-fill-mode: both;
}

@keyframes start-loader {
	0% {
        opacity: 1;
	}

	70% {
        opacity: 1;
        transform: scale(1);
	}
	100% {
        transform: scale(0);
        opacity: 0;
	}
}

$width: 200px;

.loader {


  width: $width;
  height: $width;
  position: fixed;
  padding: 2%;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  border-radius: 100%;

  .loader-inner {
    width: 100%;
    height: 100%;
    animation: loader-spin .5s linear infinite;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 3px solid transparent;
    border-right-color: $first;
    border-left-color: $second;
    border-radius: 50%;
    content: '';
  }

  &:before,
  &:after {
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:before {
    background-image: url(../images/logo/ohmyfood@2x.svg);
    height: 100%;
    width: 80%;
    margin: auto;
    // animation-duration: 2s;
    // animation-fill-mode: both;
    // animation-iteration-count: infinite;
    // animation-name: loader-pot;
  }

}

// @keyframes loader-pot {
// 	from, 45%, 55%, 65%, 75%, 80%, 85%, to {
// 		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
// 	}

// 	0% {
// 		transform: rotate(0);
// 	}

// 	45% {
// 		transform: translate3d(-4%, -13%, 0) rotate(-13deg);
// 	}

// 	55% {
// 		transform: translate3d(1%, -2%, 0) rotate(6deg);
// 	}

// 	65% {
// 		transform: translate3d(-2%, -4%, 0) rotate(-3deg);
// 	}

// 	75% {
// 		transform: translate3d(2%, 3%, 0) rotate(3deg);
// 	}

// 	80% {
// 		transform: translate3d(-2%, 1%, 0) rotate(-2deg);
// 	}

// 	to {
// 		transform: none;
// 	}
// }


@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
