/** css du loader **/
$width: 200px;

.wait{
    position: fixed;
    z-index: 0;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 1;
    -webkit-animation-timing-function:ease;
            animation-timing-function:ease;
    -webkit-animation-name: start-loader;
            animation-name: start-loader;
    -webkit-animation-duration: 1500ms;
            animation-duration: 1500ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes start-loader {
	0% {
        opacity: 1;
	}
	70% {
        opacity: 1;
        transform: scale(1);
	}
	100% {
        transform: scale(0);
        opacity: 0;
	}
}

@keyframes start-loader {
	0% {
        opacity: 1;
	}
	70% {
        opacity: 1;
        transform: scale(1);
	}
	100% {
        transform: scale(0);
        opacity: 0;
	}
}

.loader {
  width: $width;
  height: $width;
  position: fixed;
  padding: 2%;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  border-radius: 100%;

  .loader-inner {
    width: 100%;
    height: 100%;
    -webkit-animation: loader-spin .5s linear infinite;
            animation: loader-spin .5s linear infinite;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 3px solid transparent;
    border-right-color: $first;
    border-left-color: $second;
    border-radius: 50%;
    content: '';
  }

  &:before{
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:before {
    background-image: url(../images/logo/ohmyfood@2x.svg);
    height: 100%;
    width: 80%;
    margin: auto;
  }
}

@-webkit-keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
