.page{
    .head{
        &__branding_btn{
            position: absolute;
            background: none;
            border: none;
            padding: 10px;
        }
    }
}
.restau{
    &__ouv {
        width: 100%;
        z-index: 1;
    }
    &__headContent {
        width: 100%;
        box-sizing: border-box;
        background: $bgMiddle;
        display: flex;
        justify-content: center;
        margin: auto;
        padding:50px 20px 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: -30px;
        position: relative;
        z-index: 1;
    }
}
